<app-title title="Defer Views / Blocs" withShadow></app-title>

<section class="grid grid-cols-1">
  @defer () {<app-heavy-loaders-slow
    cssClass="bg-blue-500 flex justify-center items-center"
  ></app-heavy-loaders-slow
  >} @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse flex justify-center items-center"
  >
    Cargando...
  </p>
  } @defer (on idle) {<app-heavy-loaders-slow
    cssClass="bg-green-500 flex justify-center items-center"
  ></app-heavy-loaders-slow
  >} @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse flex justify-center items-center"
  >
    Cargando...
  </p>
  } @defer (on viewport) {<app-heavy-loaders-slow
    cssClass="bg-purple-500 flex justify-center items-center"
  ></app-heavy-loaders-slow
  >} @placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse flex justify-center items-center"
  >
    Cargando...
  </p>
  }
</section>
